# Carregamento de variáveis do .env
python-dotenv==1.0.0

# Conexão com o PostgreSQL usando psycopg (versão 3)
psycopg==3.1.9

# Framework para a API
fastapi==0.68.1
uvicorn==0.15.0
pydantic==1.10.2

# Pacotes do LangChain e integração com OpenAI
langchain_openai==0.0.2
langchain_community==0.0.4
langchain_text_splitters==0.0.1

# Processamento de documentos DOCX
python-docx==0.8.11

# Autenticação JWT e requisições HTTP
PyJWT==2.6.0
requests==2.28.2
